
<html>
<head>
<style>
table, th, td {
      border: 1px solid black;
}
</style>

<title>Full Event Attendees Information</title>

</head>
<body>

<table style="width:100%">
<tr>
  <th>Last Name</th>
  <th>First Name</th>
  <th>Email Address</th>
  <th>Zipcode</th>
  <th>City</th>
  <th>State</th>
  <th>Address</th>
  <th>Phone</th>
  <th>District</th>
</tr>
  <%= i = 0 %>
  <% queue.each do |attendee| %>

    <tr>
      <td><%= "#{attendee[i]['first_name']}" %></td>

    </tr>

  <%= i += 1 %>
  <% end %>
</table>
</body>
</html>
